footer {
    background-color: #11101b;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flexbox;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .footer-content ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .footer-content li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .footer-content a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-content a:hover {
    color: #7a7b75;
  }
  
  #p1{
    color: #fff;
  }

